input {
    outline: none;
}

.fk-color-valid {
    color: #45b5ff;
}

.fk-alert {
    text-align: center;
    justify-content: center;
}

.fk-color-invalid {
    color: #ff1c1c;
}

.fk-load-login {
    opacity: 0;
    /* margin-left: 1000px; */
    transition-property: opacity;    
    transition-duration: 1s;
    transition-delay: 0s;
}