.form-control::-webkit-input-placeholder {
  color: white;
  opacity: 50%;
}

.form-control:focus {
  border-color: #ffffff;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0) inset, 0px 0px 8px rgba(255, 255, 255, 255);
}

.nav-link{
  color: white!important;
}

.nav-link:hover{
  opacity: 50%;
}

.modal-content {
  background-color: rgba(255, 255, 255, .6);
}

.btn-custom:hover {
  opacity: .5!important;
}

