<div class="card bg-dark border-0 p-0 m-0">
  <img src="assets/img/bg.jpg" class="card-img" alt="..." style="object-fit: cover; filter: blur(15px); height: 100vh;">
  <div class="card-img-overlay" style="background-color: rgba(0,0,0,.3)">
    <router-outlet></router-outlet>
  </div>
</div>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
