<h1 class="text-center">{{entityClass}} </h1>
<!--
<ul class="list-group">    
    <div *ngFor="let i of Table">
        <li [ngClass]="{'list-group-item': true}"> 
            <h4 [ngStyle]="{color: red}">
                <strong style="position:absolute; top:0px;"> {{ i }} </strong >
            </h4> 
            <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                <button class="btn btn-sm btn-success"
                        (click)="Detail(i)">Detail
                </button>
                <button class="btn btn-sm btn-danger"
                        (click)="delete(i)">Supprimer
                </button>
                <button class="btn btn-sm"
                        (click)="update(i)">Modifier
                </button>
            </div>
        </li>
    </div>  
</ul>
-->
<div class="fk-container">
    <app-table [json]="entityData" [entityClass]="entityClass"></app-table>
</div>
<div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
    <button class="btn btn-sm btn-success" (click)="rollback()">
        Retour
    </button>
</div>