<div class="container-fluid container-sm mx-auto">
  <div class="card mx-auto mt-5 bg-transparent text-white border-0 pt-0 mt-0" style="max-width: 36rem">
    <div class="card-body">
      <h3 class="card-title text-center">Inscription</h3>
      <form [formGroup]="form" (ngSubmit)="submit()">
        <div class="form-group" >
          <label for="nom">Nom d'utilisateur:</label>
          <input type="text"
                 class="form-control bg-transparent border-light text-white"
                 id="nom"
                 placeholder="entrez votre nom d'utilisateur"
                 name="nom"
                 formControlName="nom">
        </div>
        <div class="form-group">
          <label for="password">Mot de passe:</label>
          <input type="password"
                 class="form-control bg-transparent border-light text-white"
                 id="password"
                 placeholder="entrez un mot de passe"
                 name="password"
                 formControlName="password">
        </div>
        <div class="form-group" >
          <label for="dateNaissance">Date de naissance:</label>
          <div class="input-group">
            <input class="form-control bg-transparent border-light text-white"
                   id="dateNaissance"
                   placeholder="yyyy-mm-dd"
                   name="dateNaissance"
                   formControlName="dateNaissance"
                   ngbDatepicker #d="ngbDatepicker">
            <div class="input-group-append">
              <button class="btn btn-outline-light fal fa-calendar-day" (click)="d.toggle()" type="button"></button>
            </div>
          </div>
        </div>
        <div class="form-group" >
          <label for="ville">Ville:</label>
          <input type="text"
                 class="form-control bg-transparent border-light text-white"
                 id="ville"
                 placeholder="entrez une ville"
                 name="ville"
                 formControlName="ville">
        </div>
        <fieldset class="form-group">
          <div class="row">
            <legend class="col-form-label col-sm-2 pt-0">Sexe:</legend>
            <div class="col-sm-10">
              <div class="form-check">
                <input class="form-check-input"
                       type="radio"
                       name="sexe"
                       formControlName="sexe"
                       id="gridRadios1"
                       value="Homme"
                       checked>
                <label class="form-check-label" for="gridRadios1">
                  Homme
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input"
                       type="radio"
                       name="sexe"
                       formControlName="sexe"
                       id="gridRadios2"
                       value="Femme">
                <label class="form-check-label" for="gridRadios2">
                  Femme
                </label>
              </div>
            </div>
          </div>
        </fieldset>
        <a class="btn btn-link text-decoration-none p-0 text-primary" role="button" (click)="triggerClick()">Sélectionner la photo de profil</a>
        <div class="custom-file" style="display: none" >
          <input type="file"
                 class="custom-file-input"
                 id="customFileLangHTML"
                 name="profilePicture"
                 formControlName="photo"
                 #profilePicture>
          <label class="custom-file-label" for="customFileLangHTML" data-browse="Choisir">Choisir la photo de profil</label>
        </div>
        <p class="card-text mt-3 text-center text-danger">{{errorMessage}}</p>
        <button type="submit" class="btn btn-light btn-block mt-4 mx-auto" style="max-width: 18rem">
          <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" *ngIf="submitting"></span>
          S'inscrire
        </button>
        <p class="card-text mt-3 text-center mb-5">Vous avez déjà un compte ?  <a class="text-primary text-decoration-none" href="#" routerLink="/login">Connectez-vous</a></p>
      </form>
    </div>
  </div>
</div>
