<div class="card mx-auto mt-5 w-50 bg-transparent text-white border-0">
  <div class="card-body">
    <h3 class="card-title text-center">Inscription</h3>
    <form [formGroup]="form" (ngSubmit)="submit()">
      <div class="form-group" >
        <label for="email">Email:</label>
        <input type="text"
               class="form-control bg-transparent border-light text-white"
               id="email"
               placeholder="entrez votre email"
               name="email"
               formControlName="email">
      </div>
      <div class="form-group" >
        <label for="username">Pseudo:</label>
        <input type="text"
               class="form-control bg-transparent border-light text-white"
               id="username"
               placeholder="entrez un pseudonyme"
               name="username"
               formControlName="username">
      </div>
      <div class="form-group">
        <label for="password">Mot de passe:</label>
        <input type="password"
               class="form-control bg-transparent border-light text-white"
               id="password"
               placeholder="entrez un mot de passe"
               name="password"
               formControlName="password">
      </div>
      <button type="submit" class="btn btn-light btn-block mt-4 mx-auto" style="max-width: 18rem">
        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" *ngIf="submitting"></span>
        S'inscrire
      </button>
      <p class="card-text mt-3 text-center">Vous avez déjà un compte ?  <a class="text-primary text-decoration-none" href="#" routerLink="/login">Connectez-vous</a></p>
    </form>
  </div>
</div>
