<div class="container">  
  <section class="row">
    <div class="col-12 col-sm-8 col-lg-4">
      <article>
        <h2>test</h2>
      </article>
    </div>
    <div class="col-12 col-sm-4 col-lg-4">
      <article>
        <h2>test</h2>
      </article>
    </div>
    <div class="col-12 col-sm-6 col-lg-4">
      <article>
        <h2>test</h2>
      </article>
    </div>
  </section>
</div>
<div ng-app="sample">
  <form class="form-horizontal" name="registerForm">
    <div class="form-group">
      <label class="col-md-3 control-label" for="Email">Email</label>
      <div class="col-md-4">
        <input id="Email" type="email" class="form-control" name="Email" ng-model="Email" />
      </div>
    </div>
    <div class="form-group">
      <label class="col-md-3 control-label" for="Password">Password</label>
      <div class="col-md-4">
        <input id="Password" type="password" class="form-control" name="Password" ng-model="Password" />
      </div> 
    </div>
    <div class="form-group">
      <label class="col-md-3 control-label" for="ConfirmPassword">Confirm Password</label>
      <div class="col-md-4">
        <input id="ConfirmPassword" type="password" class="form-control" name="ConfirmPassword" ng-model="ConfirmPassword" />
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-offset-3 col-md-9">
        <input type="submit" class="btn btn-default" value="Sign Up" />
      </div>
    </div>
  </form>
</div>


<div class="container">
  <form (ngSubmit)="onSubmit()" [formGroup]="form">
      <div *ngFor="let fields of formStructure.fields" class="form-row">
          <fieldset >
              <legend>{{fields.legend}}</legend>
             
                  <div 
                      *ngFor="let field of  fields.fields; let i = index" 
                      class="form-row">
                      <section class="row">
                          <div *ngIf="true">
                              <app-single-field
                                  class="col-12 col-sm-8 col-lg-4" 
                                  [field]="field" 
                                  [test] = "test"
                                  [fieldForm]="form"
                                  (cacheEmitter)="onCacheEmit($event)">
                              </app-single-field>
                          </div>        
                      </section>
                  </div>
              
          </fieldset>
      </div>
      <div class="form-row">
          <button type="submit" [disabled]="!form.valid" class="btn btn-primary">Soumettre</button>
          <button type="reset"  class="btn btn-primary">Retablir</button>
      </div>
  </form>
  <div *ngIf="payLoad" class="form-row">
      <strong>Saved the following values</strong><br>
      {{payLoad}}
  </div>
</div>

