.fk-color-valid {
    color: #45b5ff;
}

.fk-alert {
    text-align: center;
    justify-content: center;
}

.fk-radio {
    margin-top: 20px;
    margin-left: 15px;
}

.fk-load-user-profile {
    opacity: 0;
    margin-left: 1000px;
    transition-property: opacity, margin-left;    
    transition-duration: 0.4s;
    transition-delay: 0s;
}
