<nav class="navbar navbar-light bg-transparent border-bottom text-white">
  <a class="navbar-brand align-middle text-white" href="#">
    <img src="/docs/4.4/assets/brand/bootstrap-solid.svg"
         width="60"
         height="60"
         class="d-inline-block align-middle rounded-circle bg-white"
         alt=""
         style="object-fit: cover">
    User name
  </a>
  <ul class="nav">
    <li class="nav-item active border-right">
      <a class="nav-link" href="#" routerLink="">Accueil</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" (click)="logOut()" style="cursor: pointer">Se déconnecter</a>
    </li>
  </ul>
</nav>
<div class="container mt-3">
  <div class="card text-white bg-transparent mx-auto w-50" style="min-height: 60vh;">
    <div class="card-body rounded" style="background-color: rgba(0, 0, 0, .4);">
      <h4 class="card-title text-capitalize text-center">informations générales</h4>
      <hr class="bg-light">
      <div class="container-fluid" *ngIf="!editState">
        <div class="row">
          <div class="col-5 text-white-50 px-0 mr-0 text-right">
            <h6>Noms et Prénoms :</h6>
          </div>
          <div class="col-7">
            <h6>KEUDEM FRANK</h6>
          </div>
        </div>
        <div class="row">
          <div class="col-5 text-white-50 px-0 mr-0 text-right">
            <h6>Date de Naissance :</h6>
          </div>
          <div class="col-7">
            <h6>DD/MM/YYYY</h6>
          </div>
        </div>
        <div class="row">
          <div class="col-5 text-white-50 px-0 mr-0 text-right">
            <h6>Sexe :</h6>
          </div>
          <div class="col-7">
            <h6>N/A</h6>
          </div>
        </div>
        <div class="row">
          <div class="col-5 text-white-50 px-0 mr-0 text-right">
            <h6>Username :</h6>
          </div>
          <div class="col-7">
            <h6>Frank.Keudem</h6>
          </div>
        </div>
        <div class="row">
          <div class="col-5 text-white-50 px-0 mr-0 text-right">
            <h6>Email :</h6>
          </div>
          <div class="col-7">
            <h6>frankkeudem@gmail.com</h6>
          </div>
        </div>
        <button class="btn btn-light btn-block w-50 mx-auto mt-4" (click)="editState = true;">Modifier vos informations</button>
      </div>
      <form [formGroup]="form" *ngIf="editState">
        <div class="form-group" >
          <label for="firstName">Nom:</label>
          <input type="text"
                 class="form-control bg-transparent border-light text-white"
                 id="firstName"
                 placeholder="entrez votre nom"
                 name="firstName"
                 formControlName="firstName">
        </div>
        <div class="form-group" >
          <label for="lastName">Prénom:</label>
          <input type="text"
                 class="form-control bg-transparent border-light text-white"
                 id="lastName"
                 placeholder="entrez votre prénom"
                 name="lastName"
                 formControlName="lastName">
        </div>
        <div class="form-group">
          <label for="birthDate">Date de naissance:</label>
          <div class="input-group">
            <input class="form-control bg-transparent border-light text-white"
                   id="birthDate"
                   placeholder="yyyy-mm-dd"
                   name="birthDate"
                   formControlName="birthDate"
                   ngbDatepicker #d="ngbDatepicker">
            <div class="input-group-append">
              <button class="btn btn-outline-light fal fa-calendar-day" (click)="d.toggle()" type="button"></button>
            </div>
          </div>
        </div>
        <fieldset class="form-group">
          <div class="row">
            <legend class="col-form-label col-sm-2 pt-0">Sexe:</legend>
            <div class="col-sm-10">
              <div class="form-check">
                <input class="form-check-input"
                       type="radio"
                       name="sex"
                       formControlName="sex"
                       id="gridRadios1"
                       value="Homme"
                       checked>
                <label class="form-check-label" for="gridRadios1">
                  Homme
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input"
                       type="radio"
                       name="sex"
                       formControlName="sex"
                       id="gridRadios2"
                       value="Femme">
                <label class="form-check-label" for="gridRadios2">
                  Femme
                </label>
              </div>
            </div>
          </div>
        </fieldset>
        <a class="btn btn-link text-decoration-none p-0 text-primary" role="button" (click)="triggerClick()">Changer la photo de profil</a>
        <div class="custom-file" style="display: none" >
          <input type="file" class="custom-file-input" id="customFileLangHTML" #profilePicture>
          <label class="custom-file-label" for="customFileLangHTML" data-browse="Choisir">Changer la photo de profil</label>
        </div>
        <button type="submit" class="btn btn-light btn-block mt-4 mx-auto" style="max-width: 18rem">
          <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" *ngIf="submitting"></span>
          Enregistrer
        </button>
      </form>
    </div>
  </div>
</div>
